.login {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  width: 500px;
  height: 400px;
  margin-top: 40px;
  padding: 20px;
  border: 1px solid rgba(24, 23, 23, 0.065);
  background-color: rgba(19, 11, 11, 0.383);
  color: black;
  box-shadow: 14px;
}
