.login {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  width: 500px;
  height: 400px;
  margin-top: 40px;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.065);
  background-color: rgba(255, 255, 255, 0.383);
  color: black;
}