body {
  padding-top: 100px;
}

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  justify-content: space-between;
  background: white;
  z-index: 100;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-brand img {
  width: 50px;
}

.navbar .btn a {
  color: white;
  text-decoration: none;
}

.navbar .btn {
  border-radius: 15px;
}

.navbar .btn a:hover {
  color: yellow;
}
