body {
  padding-top: 65px;
}

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  justify-content: space-between;
  background: white;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-brand img {
  width: 50px;
}

// .navbar a {
//   color: rgb(0, 0, 0);
//   text-decoration: none;
// }

// a:hover {
//   color: yellow;
// }
